@use "../../sass/breakpoints" as *;

.main {
  padding: 2rem;
  padding-right: 0;

  @media (max-width: $bp-3) {
    padding: 1rem;
    padding-right: 0;
  }
}

.content {
  grid-area: content;
  color: var(--color-white);
  overflow: hidden;
  padding-left: 8.5rem;
  min-height: 100vh;
  position: relative;

  @media (max-width: $bp-1) {
    padding-left: 0rem;
    padding-top: 6rem;
  }
}
