.main {
  padding: 2rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas: "sidebar content";
  grid-template-rows: auto 1fr;
  grid-gap: 2rem;
  grid-row-gap: 1.5rem;
}

.content {
  grid-area: content;
  position: relative;
  color: var(--color-white);
  overflow: hidden;
}
